.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  background-color: #263238;
}

.box {
  font-size: 2.5rem;
  color: #dfdfdf;
  transition-duration: 250ms;
}
  
.box input {
  width: 1.2em;
  padding: 0 10px;
  outline: none;
  background-color: #00000000;
  border-width: 0 0 2px 0;
  border-color: #595959;
  transition-duration: 250ms;
  text-align: center;
  color: #dfdfdf;
}

.readonly input {
  border-color: #00000000;
}

.start input:hover {
  border-color: #9c9c9c;
}

.start input:focus {
  border-color: #dfdfdf;
}

button {
  font-size: 1.5rem;
  width: 7rem;
  margin: 0 1rem;
  padding: 5px;
  border: 0 solid black;
  border-radius: 12px;
  color: #dfdfdf;
  transition-duration: 250ms;
  outline: none;
}

.red {
  background-color: #c62828;
}

.red:hover {
  background-color: #8e0000;
}

.red:active {
  background-color: #8e000080;
}

.green {
  background-color: #2e7d32;
}

.green:hover {
  background-color: #005005;
}

.green:active {
  background-color: #00500580;
}


